body{
    background-color:black;
    color:white;
}

header{
    padding:10px 0 10px 0;
    background-color:rgb(32, 32, 32);
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size:40px;
    font-family: 'IM Fell DW Pica SC', serif;
}

.navigation a{
    font-size:20px;
    font-family: 'IM Fell DW Pica SC', serif;
}

.s-title{
    margin-top:300px;
    margin-bottom:100px;
    text-align:center;
}

.s-title-h1{
    font-size:70px;
    font-family: Georgia, serif;
}

.s-title-h2{
    font-size:30px;
    font-family: Georgia, serif;
}

.others{
    font-size:25px;
    text-align: center;
    display:flex;
    font-family: 'IM Fell DW Pica SC', serif;
    margin-bottom:100px;
}

.others p{
    width:150px;
}

footer{
    background-color:rgb(32,32,32);
}

footer p{
    font-size:12px;
    padding:5px 0 5px 20px;
    font-family: "Roboto", sans-serif;
}

.desc{
    font-size:20px;
    font-family: Georgia, serif;
    text-align:center;
}

.contact-group{
    margin-top:50px;
    padding:30px;
    border-radius:15px;
    background-color:rgb(73, 73, 73);
}

.contact-form{
    font-size:20px;
    font-family: Georgia, serif;
}

.contact-form td{
    height:60px;
    vertical-align:middle;
}

.contact-form-textarea td{
    height:215px;
}
/*
.contact-form-textarea-title{
    padding-top:10px;
}*/

.contact-form input, textarea{
    background-color:white;
    color:black;
    border:1px black solid;
    border-radius: 10px;
    padding:10px;
    width:400px;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
    font-size:13px;
}

.contact-form textarea{
    height:200px;
    resize: none;
}

.must{
    background-color:red;
    padding:3px;
    font-size:15px;
    margin-left:20px;
    margin-right: 10px;
}

.contact-form-submit{
    text-align:center;
}

.contact-form-submit input{
    font-size:16px;
    font-weight:bold;
    width:100px;
    text-align:center;
    border-radius:20px;
    border:none;
    margin-top:50px;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-group {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.contact-group.visible {
    opacity: 1;
    transform: translateY(0);
}

.mar-top{
    margin:150px 0 50px 0;
}

.sns{
    display:flex;
}

.bereal{
    margin-left:100px;
    border:rgb(32, 32, 32) 1px solid;
    border-radius:15px;
    width:160px;
    height:160px;
}

.bereal img{
    margin-top:71px;
    margin-left:40px;
}

.sns a {
    display: inline-block;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@media screen and (max-width: 600px){
    .desc{
        font-size:18px;
        width:90%;
    }

    .contact-group{
        width:80%;
    }

    .contact-form input,textarea{
        width:90%;
    }

    .contact-group table,td, tr {
        display: block;
    }
    /*.contact-form tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        margin-bottom: 10px;
    }

    .contact-form td {
        border: none;
        position: relative;
        padding-left: 50%;
    }

    .contact-form td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        font-weight: bold;
    }*/

    .others{
        font-size:18px;
    }

    .others p{
        width:120px;
        border:1px rgb(32, 32, 32) solid;
        border-radius:10px;
    }
}