body{
    background-color:black;
    color:white;
}

header{
    padding:10px 0 10px 0;
    background-color:rgb(32, 32, 32);
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size:40px;
    font-family: 'IM Fell DW Pica SC', serif;
}

.navigation a{
    font-size:20px;
    font-family: 'IM Fell DW Pica SC', serif;
}

.s-title{
    margin-top:200px;
    margin-bottom:100px;
    text-align:center;
}

.s-title-h1{
    font-size:50px;
    font-family: Georgia, serif;
}

.s-title-h2{
    font-size:20px;
    font-family: Georgia, serif;
}

.others{
    font-size:25px;
    text-align: center;
    display:flex;
    font-family: 'IM Fell DW Pica SC', serif;
    margin-bottom:100px;
}

.others p{
    width:150px;
}

footer{
    background-color:rgb(32,32,32);
}

footer p{
    font-size:12px;
    padding:5px 0 5px 20px;
    font-family: "Roboto", sans-serif;
}

.desc{
    font-size:20px;
    font-family: Georgia, serif;
    text-align:center;
}

.contact-group{
    margin-top:50px;
    padding:30px;
    border-radius:15px;
    background-color:rgb(73, 73, 73);
    font-size:20px;
    font-family: Georgia, serif;
}

.contact-form-input{
    background-color:white;
    color:black;
    border:1px black solid;
    border-radius: 10px;
    padding:10px;
    width:500px;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
    font-size:13px;
    margin-bottom:20px;
}

.contact-group textarea{
    height:200px;
    resize: none;
}

.must{
    background-color:red;
    padding:3px;
    font-size:15px;
    margin-left:20px;
    margin-right: 10px;
}

.contact-form-submit{
    background-color:white;
    color:black;
    border-radius: 20px;
    padding:10px;
    width:100px;
    text-align: center;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
    font-size:18px;
    font-weight:bold;
    margin:0 auto;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-group {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.contact-group.visible {
    opacity: 1;
    transform: translateY(0);
}

.mar-top{
    margin:150px 0 50px 0;
}

.sns{
    display:flex;
}

.bereal{
    margin-left:100px;
    border:rgb(32, 32, 32) 1px solid;
    border-radius:15px;
    width:160px;
    height:160px;
}

.bereal img{
    margin-top:71px;
    margin-left:40px;
}

.sns a {
    display: inline-block;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@media screen and (max-width: 600px){
    .desc{
        font-size:18px;
        width:90%;
    }

    .contact-group{
        width:80%;
        font-size:18px;
    }

    .contact-form-input{
        width:100%;
    }

    .contact-form-submit{
        font-size:14px;
    }

    .instagram{
        width:130px;
    }
    
    .bereal{
        margin-left:30px;
        width:130px;
        height:130px;
    }

    .bereal img{
        margin:0 auto auto 0
    }

    .others{
        font-size:18px;
    }

    .others p{
        width:120px;
        border:1px rgb(32, 32, 32) solid;
        border-radius:10px;
    }
}
