html{
    animation: slideIn 0.25s ease-out;
    overflow-x: hidden;
    transition: transform 0.5s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-out {
    transform: translateX(100%);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
    margin:30px auto 0 30px;
    font-size:30px;
}

body{
    background-color:black;
    color:white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-title{
    margin-top:200px;
    margin-bottom:100px;
    text-align:center;
}

.s-title-h1{
    font-size:50px;
    font-family: Georgia, serif;
}

.s-title-h2{
    font-size:20px;
    font-family: Georgia, serif;
}

footer{
    background-color:rgb(32,32,32);
}

footer p{
    font-size:12px;
    padding:5px 0 5px 20px;
    font-family: "Roboto", sans-serif;
}

.like-title{
    font-size:50px;
    font-family: "Dela Gothic One", sans-serif;
}

.like-image{
    margin-top:30px;
    width:500px;
    border-radius: 15px;
}

.like-desc{
    margin-top:50px;
    font-size:30px;
    font-family: "Yusei Magic", sans-serif;
    text-align:center;
    width:600px;
}

.pc-spec{
    margin-top:10px;
    font-size:25px;
    font-family: "Zen Kurenaido", sans-serif;
}

.pc-spec th{
    width:200px;
}

.pc-spec td{
    width:350px;
}

.pc-spec th,td{
    border:1px white solid;
    height:50px;
    text-align:center;
    vertical-align: middle;
}

.like-end{
    margin-bottom:300px;
}

.grid{
    margin-top:30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width:500px;
}

.grid img{
    width:240px;
    border-radius: 10px;
}

@media screen and (max-width: 600px){
    .s-title-h1{
        font-size:50px;
    }
    
    .like-image{
        width:90%;
    }

    .like-desc{
        font-size:20px;
        width:80%;
    }

    .pc-spec{
        font-size:20px;
    }

    .pc-spec th{
        width:120px;
    }

    .pc-spec td{
        width:230px;
    }

    .grid{
        display:none;
    }
}