body{
    background-color:black;
    color:white;
}

header{
    padding:10px 0 10px 0;
    background-color:rgb(32, 32, 32);
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size:40px;
    font-family: 'IM Fell DW Pica SC', serif;
}

.navigation a{
    font-size:20px;
    font-family: 'IM Fell DW Pica SC', serif;
}

.s-title{
    margin-top:300px;
    margin-bottom:300px;
    text-align:center;
}

.s-title-h1{
    font-size:70px;
    font-family: Georgia, serif;
}

.s-title-h2{
    font-size:30px;
    font-family: Georgia, serif;
}

.balloon-left {
    position: relative;
    display: inline-block;
    margin: 30px 0 0 15px;
    padding: 12px 20px;
    min-width: 120px;
    max-width: 100%;
    font-size: 32px;
    background: #707070;
    box-sizing: border-box;
    border-radius: 30px;
  }
  
.balloon-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -17px;
    margin-top: -10px;
    border: 7px solid transparent;
    border-right: 12px solid #707070;
    z-index: 2;
}
  
.balloon-left:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -14px;
    border: 10px solid transparent;
    z-index: 1;
}

.balloon-right {
    position: relative;
    display: inline-block;
    margin: 30px 15px 0 0;
    padding: 12px 20px;
    min-width: 120px;
    max-width: 100%;
    color: black;
    font-size: 32px;
    background: #00ff00;
    border-radius:30px;
}
  
.balloon-right:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 97%;
    margin-top: -10px;
    border: 8px solid transparent;
    border-left: 15px solid #00ff00;
}

.shiga{
    margin-top:30px;
}